body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#image-container {
    position: relative;
}

#tile-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.tile {
    width: 72px;
    /* Tile width */
    height: 108px;
    /* Tile height */
    background-size: 100%;
    /* Cover full tile area */
    border: 1px solid #ccc;
    margin: 5px;
    cursor: grab;
}

.droppable {
    width: 500px;
    /* Adjust as needed */
    height: 500px;
    /* Adjust as needed */
    border: 2px dashed #ccc;
    margin-top: 20px;
    position: relative;
    display: inline-block;
}

.droppable h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #aaa;
}