body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#tiled-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

#tiled-images img {
    width: 100px;
    /* Adjust size as needed */
    height: auto;
    margin: 5px;
}